@page {
    margin: 0 !important;
}

.container, .row {
    padding: 0 !important;
    margin: 0 !important;
}

* {
    font-family: 'Gilroy', 'Gudea', sans-serif;
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 0;
    margin: 0;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                     supported by Chrome, Opera and Firefox */
    cursor: default;
}


.page {
    width: 100vw;
    max-width: 720px;
    height: calc(100vh - 10px);
    position: relative;
    margin: 0 auto;
    page-break-after: always;
    background: #FFFFFF;
}

.header {
    display: block;
    width: 100%;
    height: 100px;
    background: #FFFFFF;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 30px 10%;
    text-align: center;
}

.footer {
    display: block;
    width: 100%;
    height: 150px;
    background: #FFFFFF;
    position: absolute;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    padding: 30px 10%;
    text-align: center;
}


.footer-customer {
    width: 25%;
    float: left;
    text-align: left;
}

.footer-customer.right {
    width: 75%;
    float: right;
    text-align: right;
}

.footer-customer p {
    display: block;
    font-size: .75em;
    font-weight: 400;
}

.footer-customer p span {
    font-weight: 400;
    text-transform: uppercase;
}


.header img.fullwidth {
    width: 100%;
}


.section-welcome {
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translate(0, -50%);
    width: 75%;
}

.welcome-main-box {
    display: block;
    width: 100%;
    position: relative;
    margin: 40px 0;
}

.welcome-main-box .box {
    display: inline-block;
    width: 32%;
}

.welcome-main-box .box img {
    width: 45px;
}

.welcome-main-box .box p {
    height: 140px;
    overflow: hidden;
    color: rgba(178, 183, 183, 1);
    margin-top: 12px;
    padding-right: 20px;
    text-align: justify;
    box-sizing: border-box;
}

h1 {
    font-size: 32pt;
    line-height: 35pt;
    font-weight: 800;
}

.pink {
    color: #ED145B;
}

.header-image {
    float: left;
}


.header-customer {
    float: right;
    margin: 25px 0;
    text-align: right;
}

.header-customer p {
    display: block;
    font-size: .85em;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 20px;
}

.header-customer p span {
    font-weight: 400;
    text-transform: uppercase;
}

.section-resume {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: 150px;
    width: 75%;
    left: 15%;
}


.resume-table-header {
    border-bottom: 4px #000 solid;
}

.header-resume {
    margin-bottom: 10px;
}

.header-resume p {
    display: block;
    font-size: .85em;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 20px;
    text-align: left;
}


.header-resume p.right {
    float: right;
    margin-top: -17px;
    font-weight: 400;
}


.resume-table-content .inside {
    margin-left: 20%;
    margin-top: 25px;
}

.resume-table-content .inside .line {
    display: block;
    width: 100%;
    margin: 8px 0;
    line-height: 25px;
}

.resume-table-content .inside .line .f1 {
    display: inline-block;
    width: 49%;
}

.resume-table-content .inside .line .f2 {
    display: inline-block;
    text-align: right;
    width: 49%;
    font-weight: 800;
}

.total-amount {
    border-top: 1px rgba(0, 0, 0, .3) solid;
    width: 80%;
    margin-left: 20%;
    margin-top: 40px;
}

.total-amount .inside {
    margin: 0;
    padding: 0;
}

.total-amount .inside .f1 {
    font-size: 16px;
    font-weight: 800;
}

.total-amount .inside .f1 h3 {
    font-size: 30px;
}

.green {
    color: rgba(125, 209, 32, 1);
}

.inside-terms {
    margin-left: 20%;
    margin-top: 75px;
    font-size: .85em;
}

.inside-terms p {
    line-height: 20px;
    margin: 10px 0;
    text-align: justify;
    opacity: .7;
}

.inside_content_svdesc {
    line-height: 20px;
    margin: 20px 0;
    text-align: justify;
    opacity: .7;
}